
body {
	padding: 40px;
	background-color: #f9f9f9;
}

body, p { font-size: 24px; }

#todoItemsViewContainer{
	width:900px;
	margin: 0 auto;
}
#newTodoItem {
	width:100%;
	padding:10px;
	box-sizing: border-box;
}
#todoItems {
	list-style: none;
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	padding-left: 0;
	margin-top: 0;
	background-color: #fff;
}

#todoItems > li {
	padding: 10px;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
.deleteBtn{	
  float: right;
  background-color: red;
  color: #fff;
  border-radius: 5px;
  font-size: 12px;
  padding: 7px;
}

#todoItems li.completed {
	text-decoration: line-through;
}

